.FilterButton {
    border: none;
    background: #eeeeee;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}

.FilterButton:hover {
    background: #7ed1cd;
}

.FilterButton p {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.1em;
    color: rgb(109, 109, 109);
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}