.LoginButton {
    border: none;
    background: #46ada7;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 9px 20px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    font-family: Poppins;
    font-weight: 600;
    font-size: 0.95em;
    color: white;
    text-decoration: none;
}

.LoginButton:hover {
    background: #71d3ce;
}