.searchContainer {
    padding: 0.5
}

.CompactSearchButtonImage {
    margin: 0;
    padding: 0;
    width: 3em;
}

.CompactSearchText {
    margin-left: 4em;
    font-size: 14px;
    font-family: Poppins;
    border: 1px solid grey;
    width: 18em;
    height: 3em;
    border-radius: 20px;
    background: #f1f1f1;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3)
}

.CompactSearchSubmitButton {
    border: none;
    background: #555B6E;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3)
}

.CompactSearchSubmitButton:hover {
    background: #7884ad;
}
