.NavContainer {
    background-color: #FFD6BA;
    width: 100%;
    padding: 0.5em;
    margin: 0;
    height: 3.5em;
}

.LogoStandard {
    padding: 0.5em;
    float: left;
}

.SearchBarCompact {
    float: left;
}
