@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: Poppins;
    color: white;
    text-align: center;
    background-color: #BEE3DB;
}

.headContainer {
    background-color: #FFD6BA;
    width: 100%;
    margin-left: -10px;
    margin-top: -20px;
}

.header {
    padding-top: 30px;
    margin-bottom: 0;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3)
}

.tagLine {
    margin-top: 0;
    font-weight: 600;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.3)
}

nav {
    margin-top: 30px;
    padding-bottom: 20px;
}

nav a{
    font-family: Poppins;
    font-weight: 600;
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}

.navButton {
    border: none;
    background: #89B0AE;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3)
}

.navButton:hover {
    background: #7ed1cd;
}

.searchContainer {
    margin-top: 10%;
}

.search {
    
}

.searchBar {
    padding: 10px;
    font-size: 17px;
    font-family: Poppins;
    border: 1px solid grey;
    width: 35%;
    border-radius: 20px;
    background: #f1f1f1;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3)
}

.searchSubmit {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    border: none;
    color: white;
    background: #555B6E;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3)
}

.searchSubmit:hover {
    background: #7884ad;
}
