.NavContainer {
    background-color: #FFD6BA;
    width: 100%;
    padding: 0.5em;
    margin: 0;
    height: 3.3em;
}

.LogoStandard {
    padding: 0.5em;
    float: left;
}

.SearchBarCompact {
    float: left;
}

.NavMenuButtons {
    padding-right: 1.8em;
    margin: 0.3em;
    float: right;
}
